<!DOCTYPE html>
    <html>
        <head>
            <title>
                Superhero Name Generator
            </title>
        </head>
        <body>
            <h1 style="color:dodgerblue;">
                GENERATE YOUR OWN SUPERHERO NAME
            </h1>
            <br>
            <p>
                {{ sentence }}
            </p>
            <br>
            <button style="background-color:Tomato;"onclick="window.location.reload();">
                Generate Name
            </button>
            {% for entry in superheroes %}
            <div>
            <p><b>Superhero Name: </b> {{ entry.name1 }} + "" + {{ entry.name2 }}</p>
            </div>
            {% endfor %}
        </body>
    </html>    
