<!DOCTYPE html>
    <html>
        <head>
            <title>
                Superhero Name Generator
            </title>
        </head>
        <body>
            <h1 style="color:dodgerblue;">
                GENERATE YOUR OWN SUPERHERO NAME
            </h1>
            <br>
            <p>
                {{ heroname }}
            </p>
            <br>
            <button style="background-color:Tomato;"onclick="window.location.reload();">
                Generate Name
            </button>
            <br>
            {% for superhero in superhero %}
            <table>
            <tr>
                <td>{{ superhero.name1 }}</td> 
                <td>{{ superhero.name2 }}</td>
            </tr>
            </table>
            {% endfor %}
        </body>
    </html>    
